
html{
    scroll-behavior: smooth;
}
.scrollBox{
display: flex;
align-items:center;
justify-content: center;
margin: 0;
padding: 0;
max-height: 500px;
overflow-y: scroll;
}
th{
    position:sticky;
    background-color: white;
    border-bottom: 1px;
    border-color:black;
    top:0;
    height:47px;
    border-bottom: black;
}
table{
    margin-top:47px;
    position:relative;
}
